{% extends "layouts/base.jinja" %}

{% block content %}
<h1>商品列表</h1>
<form method="POST" action="{{ url_for('products.add') }}">
    <label for="title">品名</label>
    <input type="text" name="title">

    <label for="description">商品描述</label>
    <textarea name="description"></textarea>

    <label for="price">價格</label>
    <input type="number" name="price">

    <button type="submit">增新</button>
</form>
{% endblock content %}